<h1>About Everything</h1>
<div id="contactUs">

<p>Taking a course at <a href="http://itu.edu/" target="_blank">International Technological University (ITU)</a> entails to solve some real world problem.  Capstone project with Dr. Qian Xiaoshu is no exception. Students of the class were asked to create an online application where developers can practice and make a perfect score at the real interview. </p>
<p>A group of two, call themselves “Team Acumen”, took the challenge from Dr. Qian. Team Acumen designed and implemented the application, FDIS.  FDIS is a unique online system where a potential interview taker can assess their strength and also practice taking a sample test.</p>
<h3>Contact Us</h3>
<p>Should you have any question, concern, or suggestion, please contact the <a href="https://ituedu.zendesk.com/hc/en-us" target="_blank">support center</a>. </p>
<h3>FAQ</h3>

<ul>
	<li>General
		<ol>
			<li>What is this application good for?
			<div><p>This online application helps you to prepare for developer interview. In this application
			you can choose an Body of Knowledge (BOK) area and try out multiple choice questions. The questions 
			were provided by the Quality Counsel of Indiana and by Linda Westfall.</p> 
			<p>You can also take a sample test, where the test format is same as the official exam. It will give a feel of siting in the interview. </p> 
			</div>
			</li>
			<li>What services may I get from this application wihtout creating an account or logging in?
			<div><p>None.</p> </div>
			</li>
		</ol>
	</li>
		
	<li>Account 
		<ol>
			<li>Can I take an exam without logging in?
			<div>Sorry, but you cannot. You must log in and take an exam.</div>
			</li>
			<li>I don’t have an account, how can I get one?
			<div>There is a <a href="/register">register</a> link to create an account from the login page.</div>
			</li>
			<li>Can I change my password?
			<div>Yes, please see the "Change Password" button on the left hand side on Dashboard page.</div>
			</li>
			<li>What should I do if I forget my password?
			<div>please contact the <a href="https://ituedu.zendesk.com/hc/en-us" target="_blank">support center</a>.</div>
			</li>
			<li>May I create multiple account?
			<div>No, account is unique with an email address. An email address cannot be used to create more than 
			one account.</div>
			</li>
			<li>May I create multiple account?
			<div>No, account is unique with an email address. An email address cannot be used to create more than 
			one account.</div>
			</li>
			<li>May I have multiple sessions running in one or more devices?
			<div>No, logging in automatically terminates any previously logged session.</div>
			</li>
			<li>How can I deactivate my account?
			<div>Sorry, we are not have deactivation capabilities right now. You may contact <a href="https://ituedu.zendesk.com/hc/en-us" target="_blank">support center</a> for any help.</div>
			</li>
		</ol>
	</li>

	<li>Services 
		<ol>
			<li>What are the differences between taking an exam and practice mode?
			<div><p>An exam follows the format and requirements of the official ASQ CSQE. Currently ePortal's exam is two hours long, whereas the official exam 
			question distribution is same as the official certification exam. Question distribution in an exam: 
			<ul>
				<li>General (15%)</li>
				<li>AngularJS (15%)</li>
				<li>HTML (15%)</li>
				<li>CSS(15%)</li>
				<li>JavaScript (15%)</li>
				<li>BootStrap (15%)</li>
				<li>jQuery (10%)</li>
			</ul>
			</p>
			<p>Unlike the sample test mentioned above, you can assess your strength on a particular BOK area. The practice mode contains 100 multiple choice questions on an area
			of your choice. The practice session is not timed.  
			</p>
			</div>
			</li>
			<li>How can I take an exam?
			<div>Click "Exam" link on the <em>Dashboard</em> page. </div>
			</li>
			<li>How can I practice on a BOK area?
			<div>Hover your mouse on "Practice Area" link on the <em>Dashboard</em> page. A menu for the BOK areas will appear. Click on the area that you want to practice.</div>
			</li>
			<li>Is there any time limit for finishing an exam?
			<div>Yes, the exam needs to be finished within two hours, once you start it. You cannot pause the timer. Remaining time period will be displayed at top right hand side of the exam page.</div>
			</li>
			<li>Is there any time limit for finishing aa practice session?
			<div>No, there is not. In BOK practice mode, you can take as long as you like.</div>
			</li>
			<li>What will happen if I haven’t finish the test but time is out?
			<div>The exam page will close and the system will conclude the score of the questions you have already answered.</div>
			</li>
			<li>How many test/practice scores can I review?
			<div>You can review 3 to 10 recent scores for both parts. They will be shown on <em>Dashboard</em> page.</div>
			</li>
			<li>How can I decide the number of scores I want to review?
			<div>You can change the number by clicking “change history setting” on dashboard page, and choose from 3 to 10.</div>
			</li>
			<li>Can I review more than 10 recent scores?
			<div>No you cannot. Our system only stores 10 recent scores.</div>
			</li>
			<li>Can I get the correct answers after exam/practice?
			<div>Yes you can. You will see the correct answers after you finish your exam/practice. They are shown on result page, along with your scores.</div>
			</li>
			<li>How do I change my password? 
			<div>Click "Change Password" button on the left side of <em>Dashboard</em> page.</div>
			</li>

		</ol>
	</li>
</ul>
</div>
