<h1>About Everything</h1>
<div>
	<p>
		<h1>Under construction!!! </h1>
	</p>
	<br/><br/>
<p>Taking a course at <a href="http://itu.edu/" target="_blank">International Technological University (ITU)</a> entails to solve some real world problem.  Advance Software Engineering class with Professor Roxana Rohde is no exception. Students of the class were asked to create an online application where ASQ CSQE test takers can practice and make a perfect score at the official exam. </p>
<p>A group of four, call themselves “Team Acumen”, took the challenge from Professor Rohde. Team Acumen designed and implemented the application, CSQE ePortal.  CSQE ePortal is a unique online system where a potential ASQ CSQE test taker can assess their strength and also practice taking a sample test.</p>
<h3>Contact Us</h3>
<p>Should you have any question, concern, or suggestion, please contact the <a href="https://ituedu.zendesk.com/hc/en-us" target="_blank">support center</a>. </p>
<h3>FAQ</h3>

</div>

<ul>
	<li>General
		<ol>
			<li>What is this application good for?
			<div><p>This online application helps you to prepare for ASQ CSQE test. In this application
			you can choose an Body of Knowledge (BOK) area and try out multiple choice questions. The questions 
			have been prepared from the past tests and official study materials.</p> <p>You can also take a sample test, where the test format is same as the official exam. It will give a feel of siting in the ASQ CSQE test. </p> </div>
			<li>What services may I get from this application wihtout creating an account or logging in?
			<div><p>None.</p> </div>
		</ol>
	</li>
		
	<li>Account 
		<ol>
			<li>Can I take an exam without logging in?
			<div>Sorry, but you cannot. You must log in and take an exam.</div>
			</li>
			<li>I don’t have an account, how can I get one?
			<div>There is a <a href="/register">register</a> link to create an account from the login page.</div>
			</li>
			<li>Can I change my password?
			<div>Yes, please see the "Change Password" button on the left hand side on Dashboard page.</div>
			</li>
			<li>What should I do if I forget my password?
			<div>please contact the <a href="https://ituedu.zendesk.com/hc/en-us" target="_blank">support center</a>.</div>
			</li>
			<li>May I create multiple account?
			<div>No, account is unique with an email address. An email address cannot be used to create more than 
			one account.</div>
			</li>
			<li>May I create multiple account?
			<div>No, account is unique with an email address. An email address cannot be used to create more than 
			one account.</div>
			</li>
			<li>May I have multiple sessions running in one or more devices?
			<div>No, logging in automatically terminates any previously logged session.</div>
			</li>
			<li>How can I deactivate my account?
			<div>Sorry, we are not have deactivation capabilities right now. You may contact <a href="https://ituedu.zendesk.com/hc/en-us" target="_blank">support center</a> for any help.</div>
			</li>
		</ol>
	</li>

	<li>Services <strong>Under construction!!! </strong> 
	<br/>
Q: How can I take an exam?
    A: After log in, you can click “Take a Test” on dashboard page and begin an exam.
2. Q: Do I have time limit for exam?
    A: Yes you have. A sample test is 2 hours long and there is a clock on exam page. 
3. Q: What will happen if I haven’t finish the test but time is out?
    A: The exam page will close and the system will conclude the score of the questions you have already answered.
4. Q: Do I have time limit for BOK practice?
    A: No you don’t. In BOK practice mode, you can take as long as you like.
5. Q: How many test/practice scores can I review?
    A: You can review 3 to 10 recent scores for both parts. They will be shown on dashboard page.
6. Q: How can I decide the number of scores I want to review? 
    A: You can change the number by clicking “change history setting” on dashboard page, and choose from 3 to 10.
7. Q: Can I review more than 10 recent scores?
    A: No you cannot. Our system only stores 10 recent scores.
8. Q: Can I get the correct answers after exam/practice?
    A: Yes you can. You will see the correct answers after you finish your exam/practice. They are shown on result page, along with your scores. 

	<!--		<ul>
			<li>
			</li>
		</ul>
		-->
	</li>
	<li>Exam <strong>Under construction!!! </strong>
	<li><strong>How do I take a sample ASQ CSQE test here?</strong>
<div> You can   </div>
</li>
<li><strong>How do I practice on a Body of Knowledge (BOK) area? </strong>
<div> </div>
</li>
<li><strong>How do I change my password? </strong>
<div>There is a button to change password on the left side of dashboard page.</div>
</li>
<li><strong>How is the duration of a sample test? </strong>
<div>Currently the sample test on this application is two hours long.  The official test is still four hours long. </div>
</li>
<li><strong>How much time do I have to finish a practice session on  </strong>
<div> </div>
</li>
<li><strong> </strong>
<div> </div>
</li>
	</li>
</ul>
