<div>
	<span style="font-family: serif; font-size:25px; color:firebrick;"> Hello, <em>{{ currentUser.firstName }} {{ currentUser.lastName }} </em></span>
   <!--  <table class="profileTable">
        <tr><td>Hello, {{ currentUser.firstName }} {{ currentUser.lastName }}</td> <td>{{ currentUser.username }}</td></tr>
    </table>
-->
	<nav ng-controller="navCtrl">
		<a href="/logout" ng-click="logout()">Logout </a>
	</nav>
	<div style="clear: both;"></div>
</div>

<h1>Dashboard</h1>
	<section>
	<!-- Links for test and practice session -->
<div class="qpage-links">
    <ul>
        <a ng-href="practise/GKModel"><li class="mode-select">General Knowledge</li></a>
        <a ng-href="practise/SQMModel"><li class="mode-select">Software Quality Management</li></a>
        <a ng-href="practise/EPModel"><li class="mode-select">Engineering Processes</li></a>
        <a ng-href="practise/PMModel"><li class="mode-select">Project Management</li></a>
        <a ng-href="practise/MAModel"><li class="mode-select">Metrics & Analysis</li></a>
        <a ng-href="practise/SVVModel"><li class="mode-select">Software Verification & Validation</li></a>
        <a ng-href="practise/SCMModel"><li class="mode-select">Software Configuration Management</li></a>
    </ul>
	<!--<ul>
		<li><a href="/quiz">Exam </a></li>
&lt;!&ndash;	<li><a href="">BOK Area to Practice</a> &ndash;&gt;
		<li> <select class="options">
			<option value="" disabled selected><span style="text-decoration: underline;">BOK Area to Practice</span></option>
        	<option value="practise/GKModel">General Knowledge</option>
			<option value="practise/SQMModel">Software Quality Management</option>
			<option value="practise/EPModel">Engineering Processes</option>
			<option value="practise/PMModel">Project Management</option>
			<option value="practise/MAModel">Metrics & Analysis</option>
			<option value="practise/SVVModel">Software Verification & Validation</option>
			<option value="practise/SCMModel">Software Configuration Management</option>
			</select>
		</li>
	</ul>-->
	
		
</div>	
</section>

<section>
<div id="parent_div">
	<!-- Side nav for setting change -->
<div class="setting-change" id="left_child_div">
	<button onclick="resetPW()">Change Password</button> 
	
	<br />
	<button  onclick="changeHstr()">History Settings</button>
	
	<script>
	</script>
</div>
	
<div class="chart-container" id="right_child_div">
    <h3>Progress Chart</h3>
    <highchart config="quizChartConfig"></highchart>
    <br/>
    <highchart config="practiseChartConfig"></highchart>
</div>
</div> <!-- parent -->
</section>
