<span style="font-family: serif; font-size:25px; color:firebrick;"> Hello, <em>{{ currentUser.firstName }} {{ currentUser.lastName }} </em></span>
<h1>Dashboard</h1>
	
	<!-- Links for test and practice session -->
<div class="qpage-links">

	<nav id="primary_nav_wrap">
	<ul>
	  <li class="current-menu-item"><a href="/quiz">Exam </a></li>
	  <li>Area to Practice &#9662;
		<ul>
			<li><a ng-href="practise/GKModel">General Knowledge</a></li>
			<li><a ng-href="practise/SQMModel">Software Quality Management</a></li>
			<li><a ng-href="practise/EPModel">Engineering Processes</a></li>
			<li><a ng-href="practise/PMModel">Project Management</a></li>
			<li><a ng-href="practise/MAModel">Metrics & Analysis</a></li>
			<li><a ng-href="practise/SVVModel">Software Verification & Validation</a></li>
			<li><a ng-href="practise/SCMModel">Software Configuration Management</a></li>
			
		</ul>
	  </li>
	</ul>
	</nav>
	
		
</div>	

<div id="parent_div">
	<!-- Side nav for setting change -->
<div class="setting-change">
	<a class="btn btn-success" data-toggle="modal" href="#resetPW"  data-backdrop="true">Change Password</a>
	<br />
	<a class="btn btn-success" data-toggle="modal" href="#changeHstr"  data-backdrop="true">Progress Chart Settings</a>

</div>
	
<div class="chart-container">
    <h3>Progress Chart</h3>
    <highchart config="quizChartConfig"></highchart>
    <br/>
    <highchart config="practiseChartConfig"></highchart>
</div>
</div>

<div  class="modal fade" id="resetPW" role="dialogue">
	<div class="modal-dialogue">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Change Password</h4>
			</div>
			<div   class="modal-body">
			<!-- Popup Div Starts Here -->

				<input ng-model="user.oldPassword" type="password"  placeholder="Current Password" tabindex=1/>
				<span style="color:red" ng-show = "user.oldPassword == undefined || user.oldPassword == ''" > *</span><br/>
				<input ng-model="user.password" type="password" ng-change="testPassword()" placeholder="New Password" tabindex=2/>
				<span style="color:red" ng-show="user.password2 == undefined || user.password == ''"> *</span>
				<span style="color:red" ng-show="passwordShort2">password must be at least 6 characters</span><br/>
				<input ng-model="user.password2" type="password" ng-change="testPassword2()" placeholder="Repeat password" tabindex=3/>
				<span style="color:red" ng-show = "user.password2 == undefined || user.password2 == ''" > *</span>
				<span style="color:red" ng-show="passwordErr">password doesn't match</span><br/>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal"
						ng-disabled = "passwordErr || passwordShort"
						ng-click="pwSave(user)">Save</button>
			</div>
		</div>
	</div>
</div>

<div  class="modal fade" id="changeHstr" role="dialogue">
	<div class="modal-dialogue">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Change Progress Chart Setting</h4>
			</div>
			<div   class="modal-body">
			<!-- Popup Div Starts Here -->
				<label for="settings"><strong>Number of historical scores on progress chart</strong><br>
				<select ng-model="numbers" style="width: 50px" convert-to-number>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select><br>
				
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" ng-click="init(numbers)">Save</button>
			</div>
		</div>
	</div>
</div>

