<div class="login-box">
	<h4 style="text-align:center">Login </h4> 
	<br/>
	<input class="input-large" ng-model="user.username" type="email"
           ng-change="testEmail()"
           placeholder="Email" tabindex=1/><br/>
    <span ng-show="noemail" style="color:red">please input username</span>
    <br/>
    <input class="input-large" ng-model="user.password" type="password"
           ng-change="testPassword()"
           placeholder="Password" tabindex=2 /><br/>
    <span ng-show="nopassword" style="color:red">please input password</span>
    <br/>
    <button class="btn btn-success" ng-disabled="!user.username || !user.password" ng-click="login(user)" tabindex=3>Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/register">Register</a>
</div>
