<h1>Practise Mode</h1>
<div class="container mode-box">
    <h3>Please select a category:</h3><br/>
    <ul>
        <a ng-href="practise/GKModel"><li class="mode-select">General Knowledge</li></a>
        <a ng-href="practise/SQMModel"><li class="mode-select">Software Quality Management</li></a>
        <a ng-href="practise/EPModel"><li class="mode-select">Engineering Processes</li></a>
        <a ng-href="practise/PMModel"><li class="mode-select">Project Management</li></a>
        <a ng-href="practise/MAModel"><li class="mode-select">Metrics & Analysis</li></a>
        <a ng-href="practise/SVVModel"><li class="mode-select">Software Verification & Validation</li></a>
        <a ng-href="practise/SCMModel"><li class="mode-select">Software Configuration Management</li></a>
    </ul>
</div>