<h1>Practise Mode</h1>
<div class="container mode-box">
    <h3>Please select a catagory:</h3><br/>
    <a ng-href="practise/GeneralKnowledge" class="btn btn-large btn-primary mode-select">General Knowledge</a>
    <a ng-href="practise/SoftwareQualityManagement" class="btn btn-large btn-primary mode-select">Software Quality Management</a>
    <br/>
    <a ng-href="practise/EngineerProcesses" class="btn btn-large btn-primary mode-select">Engineering Processes</a>
    <a ng-href="practise/ProjectManagement" class="btn btn-large btn-primary mode-select">Project Management</a>
    <br/>
    <a ng-href="practise/MetricsAndAnalysis" class="btn btn-large btn-primary mode-select">Metrics & Analysis</a>
    <a ng-href="practise/SoftwareVerificationAndValidation" class="btn btn-large btn-primary mode-select">Software Verification & Validation</a>
    <br/>
    <a ng-href="practise/SoftwareConfigurationManagement" class="btn btn-large btn-primary mode-select">Software Configuration Management</a>
    <br/>
</div>