<h1>Practise Mode</h1>
<div class="container mode-box">
    <h3>Please select a catagory:</h3><br/>
    <button class="btn btn-large btn-primary mode-select">General Knowledge</button>
    <button class="btn btn-large btn-primary mode-select">Software Quality Management</button>
    <br/>
    <button class="btn btn-large btn-primary mode-select">Engineering Processes</button>
    <button class="btn btn-large btn-primary mode-select">Project Management</button>
    <br/>
    <button class="btn btn-large btn-primary mode-select">Metrics & Analysis</button>
    <button class="btn btn-large btn-primary mode-select">Software Verification & Validation</button>
    <br/>
    <button class="btn btn-large btn-primary mode-select">Software Configuration Management</button>
    <br/>
</div>