<div ng-if="report.type == 'quiz'">
    <h1>quiz report</h1><br/>
    <h4>Dear {{currentUser.firstName}}, your overall score is: {{report.score}}</h4><br/>
    <h4 ng-if="report.score >= 90">Keep up the good work!</h4>
    <div ng-repeat="result in report.wrong">
        <p>For the question in {{BOK(result.category)}}: <br/>
            {{result.content}}<br/>
            your answer is: <span style="color: red;">({{result.answer?result.answer:'none'}})&nbsp;
            {{result.answer?result.choices[result.answer]:''}}</span><br/>
            correct answer is: <span style="color:green">({{result.correctChoice}})&nbsp;
            {{result.choices[result.correctChoice]}}</span>
        </p>
        <hr/>
    </div>
</div>

<div ng-if="report.type == 'practise'">
    <h1>practise report</h1><br/>
    <h4>Dear {{currentUser.firstName}}, your overall score is: {{report.score}}</h4><br/>
    <h4 ng-if="report.score >= 90">Keep up the good work!</h4>
    <div ng-repeat="result in report.wrong">
        <p>For the question: <br/>
            {{result.content}}<br/>
            your answer is: <span style="color: red;">({{result.answer?result.answer:'none'}})&nbsp;
            {{result.answer?result.choices[result.answer]:''}}</span><br/>
            correct answer is: <span style="color:green">({{result.correctChoice}})&nbsp;
            {{result.choices[result.correctChoice]}}</span>
        </p>
        <hr/>
    </div>
</div>
