body {
max-width: 1600px;
	padding : 0;
	background: url("../img/background2.png") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 auto;
}

h1 {
	margin-left: 50px;
	font-style: italic;
	color: navy;
	font-family: "Times New Roman", Georgia, serif, monospace;
}

h2,h3,h4,h5,h6 {
    margin: 5px;
}

header h1 {
	font-size: 36px;
	text-align: left;
	font-size: 34px;
	font-weight: 100;
	color: firebrick;
	padding: 0px 0px 30px 50px;
	font-family: "Times New Roman", Georgia, serif, monospace;
}

nav {
    display: block;
    float: right;
    clear: both;
    margin-right: 50px;
    margin-top: 30px;
	font-size: 25px;
	font-weight: bold;	
}

footer {
    text-align: center;
    margin: 10px;
}

.wrapper {
    background-color: #c9e2b3;
}
.banner {
    width: 100%
}
.avatar {
    width: 200px;
    margin: 10px;
}

.profileTable {
    display: inline;
    font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif  bold;
    text-transform: capitalize;
}

.timer {
    position: fixed;
    top: 50px;
    right: 55px;
    background-color: cornflowerblue;
    width: 150px;
    height: 40px;
    padding: 5px;
    text-align: center;
    line-height: 40px;
}

.ctrl-panel {
    position: fixed;
    top: 120px;
    right: 55px;
    background-color: cornflowerblue;
    width: 150px;
    padding: 5px;
}

.ctrl-panel-list {
    list-style-type: none;
    float: left;
    padding-left: 2px;
    cursor: pointer;
}

.jump-input {
    width: 100px;
    height: 10px;
}

.memo {
    position: relative;
    width: 136px;
    height: 100px;
    resize: none;
}

.question-box {
    padding:5px 12px;
}

.login-box {
    margin:30px 0px 12px 100px;
	padding: 30px;
	border-style: solid;
    border: 2px solid #C0C0C0;
	border-radius: 15px;
	float: left;
}

.login-input {

}

.chart-container {
    padding:0px 5px
}

.mode-select {
/*    width: 45%;
    height: 75px;
    margin: 10px;
    float: left;
    border: 2px solid black;
    border-radius: 5px;
    list-style-type: none;
    line-height: 75px;
    font-size: 22px;
    color: #c09853;
    background-color: cornsilk;
    */
}

.mode-box {
    text-align: center;;
}

	
.qpage-links {
	text-align: right;
	margin-right: 10%;
	font-size: 20px;
	font-family: "Times New Roman", Georgia, serif, monospace;
	
}
.qpage-links li {
    display: inline;
    position: relative;	
	padding-left: 15px;
	padding-right: 15px;
}

#parent_div {
width: 100%; 
	margin: 0;
	position: relative;
}

.setting-change {
	
/*    left: 20px; */
/*    border-right: 3px solid #008f56; */
	
	height: 300px;
	margin: 0;
	padding-top: 50px;
	width: 25%; 
	float:left;
	display:inline-block;
	line-height: 5em;
}

/*.setting-change button {*/
	/*background: none;*/
	/*font-family: "Times New Roman", Georgia, serif, cursive;*/
	/*font-size: 1.2em;*/
	/*color: #008f56;*/
	/**/
/*}*/

.chart-container {
	width: 70%;
	float:right;
    padding:0px 5px;
	margin: 0;
	display:inline-block;
}

#primary_nav_wrap
{
	font-size: 1.5em;
	font-family: "Times New Roman", Georgia, serif, monospace;
	color: forestgreen;
	background-color: none;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding-right: 0;
	padding-left: 15px;
}

#primary_nav_wrap ul li
{
	position: relative;
	float: left;
	margin: 0;
	padding-left: 30px;
}

#primary_nav_wrap ul li a
{
	display:inline;
	font-size: 1em;
	font-family: "Times New Roman", Georgia, serif, monospace;
	color: forestgreen;
	background-color: none;
	
}

#primary_nav_wrap ul li ul
{
	display: none;
	z-index: 5;
}

#primary_nav_wrap ul ul li
{
	float:left;
	width: 350px;
	font-size: .7em;
	line-height: 1.5em;	
	display: block;
	background: beige;
	white-space: nowrap;
	padding: 0;
}

#primary_nav_wrap ul li:hover ul
{
	display: block;
	background: beige;
	min-width: 200px;
}

#primary_nav_wrap ul ul
{
	display: block;
	text-align: left;
	position:absolute;
}

#contactUs {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
/*	background: #f9f6db; /*#dcf2f7;* /
	box-shadow: 0 0 8px 8px #f9f6db outset;
	opacity: 0.5;
*/
	text-align: justify;
	font-size: 1em;
	line-height: 1.5em;
	font-family: "Times New Roman", Georgia, serif, monospace;
	
}

#contactUs ul {
	line-height: 3em;
}

#contactUs ul  li{
	line-height: 1.5em;
	padding-top: 10px;
}
